In [1]:
import pandas as pd

df = pd.read_csv("personalized_learning_dataset.csv")

In [2]:
df.head()

,Student_ID,Age,Gender,Education_Level,Course_Name,Time_Spent_on_Videos,Quiz_Attempts,Quiz_Scores,Forum_Participation,Assignment_Completion_Rate,Engagement_Level,Final_Exam_Score,Learning_Style,Feedback_Score,Dropout_Likelihood
0,S00001,15,Female,High School,Machine Learning,171,4,67,2,89,Medium,51,Visual,1,No
1,S00002,49,Male,Undergraduate,Python Basics,156,4,64,0,94,Medium,92,Reading/Writing,5,No
2,S00003,20,Female,Undergraduate,Python Basics,217,2,55,2,67,Medium,45,Reading/Writing,1,No
3,S00004,37,Female,Undergraduate,Data Science,489,1,65,43,60,High,59,Visual,4,No
4,S00005,34,Female,Postgraduate,Python Basics,496,3,59,34,88,Medium,93,Visual,3,No

In [3]:
required_cols = [
    "Student_ID",
    "Age",
    "Education_Level",
    "Engagement_Level",
    "Learning_Style"
]

In [4]:
df = df[required_cols]

In [5]:
df = df.drop_duplicates()

df = df.dropna()

In [10]:
df.isnull().sum()

Student_ID          0
Age                 0
Education_Level     0
Engagement_Level    0
Learning_Style      0
dtype: int64

In [8]:
summary = df['Learning_Style'].value_counts().reset_index()
summary.columns = ['Learning_Style', 'Number of Posts']
print("Learning Style distribution:\n")
print(summary)

Learning Style distribution:

    Learning_Style  Number of Posts
0  Reading/Writing             2554
1           Visual             2525
2         Auditory             2478
3      Kinesthetic             2443

In [11]:
df.to_csv("Preprocessed Personalized Dataset.csv", index=False)